/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/

html {
/*
    font-size: 150%;
*/
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.bg {
    background: url(../assets/images/paper.jpg); 
}

/* set the width and some basic styling for each panel */
.app-panels > * {
    width: 16rem;
    box-shadow: -.25rem -.25rem .25rem rgba(0,0,0,0.3);
}

/* on small devices, make each panel fit to the app width */
@media all and (max-width: 800px) {
    .app-panels > * {
        box-shadow: none;
    }
    
    .quer { /* hide some stuff when in landscape */
        display: none;
    }
    
    .searchbuttons {
        width: 7rem;
    }
}

/* hide some stuff when in portrait */
@media all and (min-width: 800px) { 
    .hochk {
        display: none;
    }
    
    .searchbuttons {
        width: 4.75rem;
    }
}

.inner-panels {
    min-width: 100%;
    max-width: 100%;
}

.side-pane {
    min-width: 0;
    max-width: 16rem;
    right: 0; 
    margin-left: auto;
    box-shadow: -.25rem -.25rem .25rem rgba(0,0,0,0.3);
    background: url(../assets/images/paper.jpg); 
}

/* ### Toolbars ### */
.title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-shadow: .06125rem .06125rem .125rem #000, -.06125rem -.06125rem .125rem #000;
}

.copy {
    font-size: 1rem;
    line-height: 1.75rem;
}

.reintext-button {
    text-shadow: .06125rem .06125rem .125rem #000, -.06125rem -.06125rem .125rem #000;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0;
}

.reintext-button:active:hover:not([disabled]) {
    color: #CE8183;
}

.reintext-button[disabled] {
    opacity: 0.4;
    filter: alpha(opacity=0.4);
}

.flag-button {
    padding: .5rem .375rem;
    font-size: 1rem;
    line-height: 1rem;
}

/* format bottom Toolbar in Songview */
@media all and (min-width: 800px) { 
    .side {
        width: 40%;
    }
    
    .middle {
        width: 20%;
        text-align:center;
    }
}

@media all and (max-width: 800px) { 
    .side {
        width: 35%;
    }
    
    .middle {
        width: 30%;
        text-align:center;
    }
}

/* ### Search ### */
.searchbar {
    width: 100%;
}

.searchbar .onyx-input-decorator {
    padding: .625rem .5rem .875rem;
    border-radius: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.searchbar .onyx-input-decorator.onyx-focused {
    background-color: rgba(255,255,255,0.5);
}

.tbicongroup {
    padding: .125rem .6875rem;
}

.newlist {
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    border-bottom: .0625rem solid rgba(0, 0, 0, 0.8);
    padding: .125rem 0;
}

/* ### SongList ### */
.item {
    padding: .625rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-height: 1.25rem;
}

.reorder {
    background-color: rgba(0,0,0,0.7);
    border-top: .0625rem solid rgba(255, 255, 255, 0.2);
    border-bottom: .0625rem solid rgba(0, 0, 0, 0.5);
    color: white;
}

.swipe {
    background-color: rgba(0,0,0,0.7);
    border-top: .0625rem solid rgba(255, 255, 255, 0.2);
    border-bottom: .0625rem solid rgba(0, 0, 0, 0.5);
    font-weight: bold;
    color: #9E0508;
}

.item-not-selected {
    background-color: rgba(255,255,255,0.5);
    border-top: .0625rem solid rgba(255, 255, 255, 0.5);
    border-bottom: .0625rem solid rgba(0, 0, 0, 0.2);
    color: #333333;
}

.item-not-selected-trans {
    background-color: rgba(0,0,0,0.7);
    border-top: .0625rem solid rgba(255, 255, 255, 0.2);
    border-bottom: .0625rem solid rgba(0, 0, 0, 0.5);
    color: white;
}

.item-selected {
    background-color: #9E0508;
    color: white;
    box-shadow: inset 0 .0625rem .25rem rgba(0,0,0,0.3);
    border-top: .0625rem solid rgba(0,0,0,0.4);
    border-bottom: .0625rem solid rgba(255,255,255,0.2);
}

.deco {
    margin: .75rem;
    padding: .5rem;
    background-color: rgba(255,255,255,0.5);
    border-radius: .5rem;
    font-size: 1.125rem;
    color: #333333;
    border-top: .0625rem solid rgba(255, 255, 255, 0.5);
    border-bottom: .0625rem solid rgba(0, 0, 0, 0.2);
}

/* ### SongView ### */
.plec {
    position: absolute;
    right: 0;
    bottom: 0;
}

.cursor {
    position: absolute;
    padding-right: 30px;
    z-index: 1; 
}

.lyric {
    padding: .5rem 1rem;
    background-color: rgba(255,255,255,0.5);
    border-radius: .5rem;
    color: #333333;
    border-top: .0625rem solid rgba(255, 255, 255, 0.5);
    border-bottom: .0625rem solid rgba(0, 0, 0, 0.2);
}

.lyricmar {
    margin: 1.25rem;
}

.lyricmar-phone {
    margin: .5rem;
}

.lyric h1, .lyric h2, .lyric h3 {
    display: block;
    margin: .25rem 0;
    font-weight: bold;
}

.lyric h1 {
    font-size: 1.5em;
}

.lyric h2 {
    font-size: 1.25em;
}

.lyric sup {
    vertical-align: text-top;
    line-height: 100%;
}

.lyric small {
    line-height: 90%;
}

a {
    text-decoration: none;
    color: #9E0508;
}

.help {
    padding-left: .75rem;
}

.help il img {
    float: left;
    margin-right: .5rem ;
}

.help il p {
    line-height: 2rem;
}

.element {
    color: #777777;
    font-weight: bold;
}

.text i {
    color: #777777;
}

.chordbox {
    float: left;
    margin: 0 0 .25rem 0;
}

.chord {
    font-weight: bold;
    margin: 0 0 -.2rem 0;
}

.txt {
    max-width: 100%; 
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.pageBreak { 
    display: none; 
}

/* ### Preferences ### */
.prefsimage {
    margin: -.5rem 0 0;
}

.box-center {
    max-width: 800px;
    margin: 10px auto 0;
}

/* ### SidePane ### */
.divider {
    color: #9E0508;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: bold;
    margin: .5rem;
    text-align: center;
}

.about {
    margin: .125rem .5rem;
    font-size: 1rem;
}

/* ### Scrollbar ### */
.enyo-thumb {
    border-radius: .25rem;
    background: #000;
    border: none;
    opacity: 0.7;
}

.enyo-vthumb {
    right: .125rem;
    width: .25rem;
}

.enyo-hthumb {
    visibility: hidden;
}

@media all and (min-width: 800px) {
    .michote-scroller > .enyo-vthumb { /* bigger Scrollbar in right panel */
        width: .3125rem;
    }
}

/* ### Other Stuff ### */
.enyo-selectable::selection, .enyo-selectable ::selection {
    background: #9E0508;
}

/* ### Popup ### */
.onyx-popup {
    color: #333333;
    background: url(../assets/images/paper.jpg);
}

/* ### Edit ### */
.editbutton {
    float: right;
    margin: -1.25rem -.5rem;
}

.editlabel {
    color: #4C4C4C;
    padding: .5rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.preview {
    width: 100%;
    color: #999999;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: .8rem;
    white-space: nowrap;
}

.author-picker {
    width: 5rem;
    height: 100%;
    padding: .25rem 0;
    border: .0625rem solid rgba(0,0,0,0.1);
    line-height: 2rem;
}

.verse-button {
    color: #fff; 
    padding: .5rem;
    min-width: 2.5rem;
    margin: 0 .25rem;
}

@page {
  size : portrait;
  margin: 0.5cm;
}

@media print { 
    html, body {
        font-family: Prelude, Arial;
        display: inline-block; 
        max-width: 100%;
    }

    .printTitle {
        font-size: 2.25em;
        font-weight: bold;
        text-align: center;
        max-width: 100%;
    }
    
    .lyric {
        page-break-inside: avoid;
        font-size: 150%;
        max-width: 100%;
    }
    
    .text {
        display: inline-block;
    }

    a {
        text-decoration: underline;
    }

    .pageBreak {
        display: block;
        page-break-after: always;
    }

    .printCopy {
        page-break-before: avoid;
        text-align: right;
        margin-right: 2em;
        line-height: 1.5em;
        font-size: 1.25em;
    }
}
